#hero {
    z-index: 200;
}

#strengths {
    z-index: 100;
}

.section__title_dark .poly {
    stroke: $primary30;
}
.section__title_white .poly {
    stroke: $white;
}

.section__title .poly {
    height: 40px;
    width: 40px;
    display: block;
    @media (min-width:568px) {
        height: 56px;
        width: 56px;
    }
    @media (min-width:744px) {
        height: 64px;
        width: 64px;
    }
}
.section__title {
    display: flex;
    gap: 8px;
    align-items: center;
    flex-direction: row;
    @media (min-width:360px) {
        gap: 8px;
    }
    @media (min-width:568px) {
        gap: 12px;
    }
    @media (min-width:744px) {
        gap: 16px;
    }
}

.sectionTitle__text {
    padding-bottom: 4px;
}

.sectionTitle__text_white {
    color: $white;
}

.section {
    flex-direction: column;
    margin-top: -80px;
    width: 100%;
    overflow: hidden;
    padding: 24px 0;
    display: flex;  
    align-items: center;
    @media (min-width:744px) {
        padding: 48px 0;
        width: 720px;
    }
    @media (min-width:1024px) {
        width: 992px;
    }
    @media (min-width:1280px) {
        width: 1200px;
    }
    @media (min-width:1400px) {
        width: 1320px;
    }
}

.section_first {
    margin-top: 0;
}

.section_narrow {
    overflow: visible;
    width: 100%;
    padding: 24px 10px;
    @media (min-width:744px) {
        width: 720px;
    }
    @media (min-width:1024px) {
        width: 992px;
    }
    @media (min-width:1280px) {
        width: 1200px;
    }
    @media (min-width:1400px) {
        width: 1280px;
    }
}

.section_rounded {
    box-shadow: 0px 18px 88px -4px rgba(24, 39, 75, 0.14), 0px 8px 28px -6px rgba(24, 39, 75, 0.12);
    border-radius: calc($radiusModule * 3);
    @media (min-width:744px) {
        border-radius: calc($radiusModule * 5);
    }
}


.section_portfolio {
    margin-top: 0;
} 