.buttonPrimary {
    color: $white;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 24px;
    text-decoration: none;
    height: 56px;
    box-sizing: border-box;
    border-radius: calc($radiusModule*2);
    border: 1px solid $white;
    display: flex;
    align-items: center;
    gap:16px;
    padding: 4px;
    padding: 0px 4px 0px 18px;
    justify-content: space-between;
    max-width: 256px;
    width: 100%;
    transition: border 0.4s ease-in-out, color 0.4s ease-in-out;
    @media (min-width: 744px) {
        width: fit-content;
    }
}

.buttonPrinary__text {
    display: block;
    @media (min-width: 568px) {
        display: block;
    }
}

.buttonPrimary:hover {
    color: $primary70;
    transition: border 0.4s ease-in-out, color 0.4s ease-in-out;
    border: 1px solid $primary70;
}

.buttonPrimary_dark {
    color: $dark10;
    border: 1px solid $dark10;
}

.buttonPrimary_dark:hover {
    color: $primary40;
    border: 1px solid $primary40;
}

.button_text {
    padding-right: 16px;
    max-width: 400px;
    align-items: center;
}

.buttonPrimary_fill {
    background: $primary40;
    color: $white;
    border: none;
    padding-right: 16px;
}

.buttonPrimary_fill .button_icon {
    stroke: $white;
}