$white: #FCFCFD;


$surface64: rgba(6, 14, 20, 0.64);
$surfacePrimary10-56: rgba(24, 19, 63, 0.56);
$surfacePrimary40-64: rgba(52, 58, 173, 0.64);


$primary10: #01006E;
$primary20: #151994;
$primary30: #3137AA;
$primary40: #4A51C3;
$primary50: #646BDE;
$primary60: #7E85FA;
$primary70: #9EA3FF;
$primary80: #BFC2FF;
$primary90: #E0E0FF;
$primary95: #F1EFFF;

$secondary10: #00201E;
$secondary20: #003734;
$secondary30: #00504C;
$secondary40: #006A64;
$secondary50: #00857F;
$secondary60: #00A29A;
$secondary70: #25BEB5;
$secondary80: #4FDBD1;
$secondary90: #71F7ED;
$secondary95: #B1FFF7;

$tertiary10: #001E30;
$tertiary20: #003450;
$tertiary30: #004B71;
$tertiary40: #006495;
$tertiary50: #0F7EB8;
$tertiary60: #3D98D4;
$tertiary70: #5DB3F0;
$tertiary80: #8FCDFF;
$tertiary90: #CBE6FF;
$tertiary95: #E6F2FF;

$gray10: #8E8E93;
$gray20: #AEAEB2;
$gray30: #C7C7CC;
$gray40: #D1D1D6;
$gray50: #E5E5EA;
$gray60: #F2F2F7;

$dark0: #0C0C0D;
$dark10: #1C1C1E;
$dark20: #2C2C2E;
$dark30: #3A3A3C;
$dark40: #48484A;
$dark50: #636366;
$dark60: #8E8E93;